<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <%= stylesheet_link_tag 'stylesheet', :media => 'all' -%>
    <title>mvheadlines</title>
  </head>
  <body class="core">
  <script language="JavaScript">
    if (window != top) top.location.href = location.href;
  </script>
    <div id="wrapper">
      <div id="header">
        <div id="titles">
          <h1><a href="http://localhost">ރާއްޖޭގެ ހަބަރު</a></h1>
          <h2>ރާއްޖޭގެ ދުވަހުނޫސްތަކުން އެންމެ ފަހުގެ ސުރުޙީތައް</h2>
        </div>
      </div>
      <div id="content">
        <%= tabnav :navigation -%>
        <div id="block">
          <div id="sidebar">
            <%= yield :sidebar -%>
          </div>
          <%= yield -%>
        </div>
      </div>
      <div id="footer">     
        <p>މިވެބްސައިޓާއި ބެހޭގޮތުން ސުވާލެއް ނުވަތަ ހިޔާލެއް އޮތްނަމަ <a href="mailto:info@localhost">އީމެއިލް</a> ކުރައްވާށެވެ</p>
      </div>
    </div>
  </body>
</html>
